body {
    margin-top: 40px;
}
.employees li a {
    float: right;
}

.employees li p {
    margin-bottom: 20px;
}

.employees li {
    width: auto;
    height: 100;
    border: 1px gray solid;
    border-radius: 10px;
    background: #EEEEEE;
    margin: 8px auto;
    padding: 4px;
    list-style-type: none;
}

.clients li a {
    float: right;
}


.clients li p {
    margin-bottom: 20px;
}

.clients li {
    width: auto;
    height: 100;
    border: 1px gray solid;
    border-radius: 10px;
    background: #EEEEEE;
    margin: 8px auto;
    padding: 4px;
    list-style-type: none;
}



.inquiries, .inquirires li {
    list-style-type: none;
}

.inquiries li {
    width: 150px;
    height: 100px;
    line-height: 100px;
    border: 1px greenyellow solid;
    border-radius: 10px;
    padding: 4px;
    margin: 8px auto;
    background: lightblue;
    font-weight: bold;
    vertical-align: middle;
}

div.span4.well.form-horizontal {
    margin-left: 30px;
}

ul {
    margin: 0;
}

div.row {
    margin-left: 30px;
}

.column {
    width: 200px;
    display: inline-block;
    float: left;
    text-align: center;
}

.page-header {
    margin: 18px 30px;
}

.assignee {
    text-align: right;
    vertical-align: bottom;
}

p {
    margin-bottom: 4px;
}

.mail-info {
    border: 1px gray solid;
    border-radius: 10px;
    background: gainsboro;
    margin: 8px auto;
    padding: 8px;
}

.client-info {
    border: 1px gray solid;
    border-radius: 10px;
    background: gainsboro;
    margin: 8px auto;
    padding: 8px;
    list-style-type: none;
}

.mailing-history {
    list-style-type: none;
    border: 1px gray solid;
    border-radius: 10px;
    background: gainsboro;
    display: inline-block;
    margin: 8px auto;
    padding: 8px;
}

.mailing-history div.row {
    margin: 0px;
}

.client-msg {
    border: 1px gray solid;
    border-radius: 10px;
    background: lightyellow;
    text-align: left;
    float: left;
    margin: 4px auto;
    padding: 8px;
}

.employee-msg {
    border: 1px gray solid;
    border-radius: 10px;
    background: lightblue;
    text-align: left;
    float: right;
    margin: 4px auto;
    padding: 8px;
}