/* CSS crunched with Crunch - http://crunchapp.net/ */
#week .day{width:20%;min-width:20%;float:left;padding:0;margin:0;}#week .day .email a,#week .day .phone a{text-decoration:none;}
#week .day .email a:hover,#week .day .phone a:hover{text-decoration:underline;}
#week .day .email a,#week .day .phone a,#week .day .email a:active,#week .day .phone a:active,#week .day .email a:hover,#week .day .phone a:hover,#week .day .email a:visited,#week .day .phone a:visited{color:#777;}
#week .day>ul{margin:0;padding:0;list-style:none;}
#week .day title{display:block;width:inherit;text-align:center;font-weight:bold;color:#555;font-size:150%;text-shadow:lightgray 2px 2px 4px;padding:8px;}
#week .day .inquiry{width:inherit;height:110px;padding:4px;margin:8px;border:1px lightgray solid;border-radius:4px;background:#fffff7;}#week .day .inquiry .primary-info{padding-top:4px;font-size:120%;text-align:center;height:48px;font-weight:bold;text-shadow:lightgray 2px 2px 4px;}
#week .day .inquiry .name{color:#777;}
#week .day .inquiry .subject{color:#aaa;}
#week .day .inquiry .secondary-info{padding:8px 2px 0 2px;bottom:0;color:#777;}
#comment-editor textarea{width:98%;}


/* CSS crunched with Crunch - http://crunchapp.net/ */
#month .day{width:14%;min-width:14%;float:left;padding:0;margin:0;}#month .day>ul{margin:0;padding:0;list-style:none;}/* position: relative;z-index: 1;background-color: white}*/
#month .day title{display:block;width:inherit;text-align:center;font-weight:bold;color:#555;font-size:150%;text-shadow:lightgray 2px 2px 4px;padding:8px;}
#month .day .inquiry{width:inherit;height:auto;padding:4px;margin:8px;border:1px lightgray solid;border-radius:4px;background:#fffff7;}
/*#month .day:hover {width:14%;min-width:14%;float:left;padding:0;margin:0;background:#fffff7;}#month .day>ul:hover{margin:0;padding:0;list-style:none;height:1500px;background:wheat;position: relative;z-index: 2}
#month .day title:hover{display:block;width:inherit;text-align:center;font-weight:bold;color:#555;font-size:150%;text-shadow:lightgray 2px 2px 4px;padding:8px;background:wheat;}
#month .day .inquiry:hover{width:inherit;height:auto;padding:4px;margin:8px;border:1px lightgray solid;border-radius:4px;background:#fffff7;} */
