#all {
    .inquiry 
    {
        width: 13%;
        height: auto;

		.card;

        font-weight: bold;
        vertical-align: middle;
        list-style-type: none;
        float: left;
        display: inline;   
        a {
            color: #2222FF; 
        }
    }

	.dotnet {
		background-color: #B6DBEB;     
	}
    
	.cplusplus {
		background-color: #FFEDC3;     
	}
}