#all {
    .inquiry 
    {
        width: 12%;
        min-width: 12%;
        height: auto;
        border: 1px solid;
        border-radius: 10px;
        padding: 4px;
        margin: 4px auto;
        margin-right: 4px;
        font-weight: bold;
        vertical-align: middle;
        list-style-type: none;
        float: left;
        display: inline;   
        a {
            color: #2222FF; 
        }
    }
    
    .dotnet {
        background-color: #B6DBEB;     
    }
    
    .cplusplus {
        background-color: #FFEDC3;     
    }
    
     .empty-tag {
        background-color: #fffff7;   
    }  
}