#details {
	.inquiry, .tags, .comments {
		.card;

		width: 100%;
        height: auto;
	}

    .inquiry {
        .name {
            color: #777;
        }
            
        .subject {
            color: #aaa;
        }
    }

	.tags {
	}
        
    .comments {
		.comment{
			margin: 4px;
			padding: 4px;
		}
        
        .comment-text {
            text-align: left;
        }
        
        .comment-date {
            font-size: 75%;
        }
    }

	h3 {
        text-align: center;
    }
}