#details {
	.summary, .comments {
		.card;

		width: 100%;
        height: auto;
	}

	.info, .edit-link {
		margin-top: 7px;
	}

	ul {
		list-style-type: none;
		margin: 0px;
		padding: 0px;
	}

	hr {
		margin: 7px;
	}

	.title {
			text-align: center;
		}
        
        .subject {
            color: #777;
			.shadowed;
			font-size: 150%;
        }

    .summary {
		.client {
			font-size: 120%;
		}

		.info {
			.hint {
				font-weight: bold;
			}

			.tags {
				display: inline-block;

				.tag {
					.bordered;

					float: left;

					margin: 3px;
					padding: 3px;
				}
			}
		}
    }

    .comments {
		.comment {
			margin: 3px:
			padding: 3px;

			.comment-text {
				text-align: left;
			}
        
			.comment-date {
				font-size: 75%;
			}
		}
    }
}