#mailing-history {
    .wrapper {
		.card;
        list-style-type: none;
        display: inline-block;
        width: 100%;

		.row {
			margin: 0px;
			padding: 0px;
		}

		.client-msg,.employee-msg {
			.bordered;

			width: 70%;
			margin: 4px;
			padding: 4px;

			text-align: left;

			.emphasis {
				font-weight: bold;
			}
		}

		.client-msg {
			background: lightyellow;
			float: left;
		}

		.employee-msg {
			background: lightblue;
			float: right;
		}

		hr {
			margin: 5px;
			background-color: #aaa;
			border: 0;
			height: 1px;
		}

		.full-mail {
			display: none;
		}
    } 
}