@model BinaryStudio.ClientManager.DomainModel.Entities.User

@{
    Layout = null;
}

<div id="logoff">
    <a href="@Url.Action("Edit","Employees", new {id = @Model.RelatedPerson.Id})">
        @Model.RelatedPerson.FullName
    </a>
    [@Model.CurrentTeam.SafeGet(x => x.Name).Or("No current team")]
    @Html.ActionLink("Log Off", "LogOff", "Auth", null, new { @class="btn" })
</div>
