@using Microsoft.Web.Mvc

<li class="inquiry" data-bind="visible: Visible">
    <a data-bind="attr: { href: DetailsUri}">
        <div class="row-fluid">
            <div class="span4">
                <img class="pull-left" data-bind="attr: {src: PhotoUri||'@Url.DefaultPhoto()'}" alt="Photo" width="48" height="48"/>
            </div>
            <div class="span8 primary-info">
                <div class="name" data-bind="text: Name.cut(15)"></div>
                <div class="subject" data-bind="text: Subject.cut(15)"></div>
            </div>
        </div>
    </a>
    <div class="secondary-info">
        <div class="phone"><span class="icon-headphones"></span> <a class="phone" data-bind="text: Phone, attr: { href: SkypeLink}"></a></div>
        <div class="email"><span class="icon-envelope"></span> <a class="email" data-bind="text: Email.cut(20), attr: { href: EmailLink}"></a></div>
        <div>
            <span class="icon-user"></span> <span data-bind="text: Assignee || 'N/A'"></span>
            <div class="pull-right dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Menu<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="icon-user"></span> Assign to
                        </a>
                        <ul class="dropdown-menu sub-menu" data-bind="foreach: $root.Employees">
                            <li><a href="#" data-bind="text: FullName, click: $root.ClickAssign.bind($data,$parent)"></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="icon-tag"></span> Add tag
                        </a>
                        <ul class="dropdown-menu sub-menu" data-bind="foreach: $root.Tags">                          
                            <li><a href="#" data-bind="text: Name, click: $root.ClickAddTag.bind($data,$parent)"></a></li>                            
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="icon-calendar"></span> Move to
                        </a>
                        <ul class="dropdown-menu sub-menu">
                            <li><a href="#" data-bind="click: $root.ClickMoveTo.bind($data,new Date($parent.DateString).addDays(1).format('yyyy-mm-dd'))"><span class="icon-arrow-right"></span> <span data-bind="text: '1 day('+new Date($parent.DateString).addDays(1).format('dd.mm')+')'"></span></a></li>
                            <li><a href="#" data-bind="click: $root.ClickMoveTo.bind($data,new Date($parent.DateString).addDays(2).format('yyyy-mm-dd'))"><span class="icon-arrow-right"></span> <span data-bind="text: '2 day('+new Date($parent.DateString).addDays(2).format('dd.mm')+')'"></span></a></li>
                            <li><a href="#" data-bind="click: $root.ClickMoveTo.bind($data,new Date($parent.DateString).addDays(3).format('yyyy-mm-dd'))"><span class="icon-arrow-right"></span> <span data-bind="text: '3 day('+new Date($parent.DateString).addDays(3).format('dd.mm')+')'"></span></a></li>
                            <li><a href="#" data-bind="click: $root.ClickMoveTo.bind($data,new Date($parent.DateString).addDays(7).format('yyyy-mm-dd'))"><span class="icon-arrow-right"></span> <span data-bind="text: '7 day('+new Date($parent.DateString).addDays(7).format('dd.mm')+')'"></span></a></li>                             
                        </ul>
                    </li>
                    <li>
                        <a href="#comment-editor" data-toggle="modal" data-bind="click: $root.ClickAddComment.bind($parent)"><span class="icon-pencil"></span> Add comment</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</li>

@Html.Script("CommonViewsScript.js")