@using BinaryStudio.ClientManager.WebUi.Models
@model AdminViewModel

@{
    ViewBag.Title = "Admin";
}

<div id="admin" class="container">
    <ul>
        @foreach (var inquiry in Model.Inquiries)
        {
            @Html.Partial("_Inquiry",
                          new InquiryPartialViewModel
                            {
                                Inquiry = inquiry,
                                Employees = Model.Employees,
                                Tags = Model.Tags
                            })
        }
    </ul>
</div>

@Html.Partial("_CommentEditor")

