@model BinaryStudio.ClientManager.WebUi.Models.AdminViewModel

<div id="admin" class="container">
    <ul>
        @foreach (var inquiry in Model.Inquiries)
        {
            <li>
                @inquiry.Name <br/>
                @inquiry.Subject
            </li>
        }
    </ul>
</div>