@using Microsoft.Web.Mvc
@model AllInquiriesViewModel

@{
    ViewBag.Title = "All Inquiries";
}

<div id="all" class="container" data-bind="foreach: Categories">
    <div class="row-fluid">
        <ul data-bind="attr: {class: 'category ' + Tag.CssClass}, foreach: Inquiries">
            <li class="inquiry" data-bind="visible: Visible">
                <a data-bind="attr: {href: InquiryDetailsUrl}">
                    <div align="center">
                        <div class="name" data-bind="text: FullName"></div>
                        <div class="subject" data-bind="text: Subject"></div>
                    </div>
                    <div class="tags" data-bind="text: Tag || 'No tags'"></div>
                </a>
            </li>
        </ul>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        window.viewModel = @Html.ToJson(Model);
    });
</script>

@Html.Script("AllViewFiltering.js")