@model IEnumerable<BinaryStudio.ClientManager.WebUi.Models.AllItemModel>

<div>
@foreach (var category in Model)
{
    <div class="row-fluid">
        <ul class="all-inquiries">
            @foreach (var inquiry in category.Inquiries)
            {
                <li class="inquiry @category.Tag">
                    <div >
                        @inquiry.Subject
                    </div>
                    <div>
                        @inquiry.FullName 
                    </div>
                    <div>
                        @category.Tag
                    </div>
                </li>
            }
        </ul>
    </div>    
}
</div>