@model IEnumerable<BinaryStudio.ClientManager.WebUi.Models.AllItemModel>

<div>
@foreach(var category in Model)
{
    <ul>
        @foreach(var inquiry in category.Inquiries)
        {
            <li>@inquiry.Subject => @inquiry.FullName => @category.Tag<br/>
            </li>
        }
    </ul>
    
}
</div>