@model IEnumerable<BinaryStudio.ClientManager.DomainModel.Entities.Inquiry>

@{
    ViewBag.Title = "Inquiries";
    //Layout = "_Layout";
}

<h2>Inquiries</h2>

<ul>
    @foreach (var item in Model.Where(item => item != null))
    {
        <li> @item.Client.FirstName @item.Client.LastName           @item.Source.Subject</li>
    }
</ul>