@model BinaryStudio.ClientManager.WebUi.Models.MonthViewModel
@{
   ViewBag.Title = String.Format("Month - {0}", Model.MonthName);
}

<div id="month" class="container">
    @foreach( var week in Model.Weeks)
    {
        <div class="row">
            @foreach(var day in week.Days)
            {
                <div class="day">            
                            <ul>
                                <title>@String.Format("{0} ({1})", day.Name, day.Date.ToString("dd"))</title>
                                @foreach (var inquiry in day.Inquiries)
                                {
                                    <li class="inquiry">
                                        @Html.ActionLink(@inquiry.Name, "Details", new { id = inquiry.Id })
                                    </li>
                                }
                            </ul>
                        </div>
            }
        </div>
    }
</div>   