@using Microsoft.Web.Mvc
@model MonthViewModel
@{
    ViewBag.Title = String.Format("This Month - {0}", Model.Name);
}

<div id="month" class="container" data-bind="foreach: Weeks, attr: {dayCount: DayCount}">
    <div class="week row" data-bind="foreach: Days">
        <div class="day">   
           <title data-bind="text: DateStringForMonth"></title>
            <ul class="inquiry-list" data-bind="foreach: Inquiries, attr: {id: Id, date: DateString}">
                <li data-bind="visible: Visible,attr: {'class': 'inquiry day-' + day, id: Id}, css:{'hidden-inquiry': isHidden,'hide': isHidden}">
                    <a data-bind="text: Name, attr:{href: DetailsUri}"></a>
                </li>
            </ul>
            <div style="text-align: center; margin-bottom: 8px">
                <input type="button" class="btn btn-primary btn-mini" data-bind="attr: {id: 'button-'+DateString}, visible: isToggle, click: toggleList" value="More"/> @*onclick="isHiddengleList('#hideme', this)"/>*@
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function toggleList(day,timeout) {
        var selector = '.day-' + new Date(day.DateString).getDate() + '.hidden-inquiry';
        if (timeout == null) {
            timeout = 600;
        }
        $(selector).slideToggle(timeout);
        var buttonSelector = '#button-' + day.DateString;
        $(buttonSelector).val($(buttonSelector).val() == 'More' ? 'Less' : 'More');
    }
    
    $(function() {
        window.viewModel = @Html.ToJson(Model);
    });
</script>

@Html.Script("MonthViewFiltering.js")

@Html.Script("MonthViewDragAndDrop.js")