@using BinaryStudio.ClientManager.DomainModel.DataAccess
@using BinaryStudio.ClientManager.WebUi.Controllers
@using BinaryStudio.ClientManager.DomainModel.Infrastructure
@using FizzWare.NBuilder.Dates
@model BinaryStudio.ClientManager.WebUi.Models.MonthViewModel
@{
   ViewBag.Title = String.Format("MonthView - {0}", Model.Days.First().Date.ToString("MMMM"));
}



<div id="month" class="container">
  @foreach (var day in Model.Days) 
    {
       <div class="day">            
            <ul>
                <title>@String.Format("{0} ({1})", day.Name,day.Date.ToString("dd"))</title>
                @foreach (var inquiry in day.Inquiries )
                {
                    <li class="inquiry">
                        @inquiry.Name
                        @Html.ActionLink("link","Details",new {id=inquiry.Id})
                    </li>
                    
                }
            </ul>
                       
        </div>
    }
  
</div>