@using BinaryStudio.ClientManager.WebUi.Models
@model BinaryStudio.ClientManager.WebUi.Models.WeekViewModel

@{
    ViewBag.Title = "This Week";
}

<div id="week" class="container">
    @foreach (var day in Model.Days)
    {
        <div class="day">
            <ul>
                <title>@day.Name (@day.Date.ToString("dd.MM"))</title>
                @foreach (var inquiry in day.Inquiries)
                {
                    @Html.Partial("_Inquiry",
                                  new InquiryPartialViewModel
                                    {
                                        Inquiry = inquiry,
                                        Employees = Model.Employees,
                                        Tags = Model.Tags
                                    })
                }
            </ul>
        </div>
    }
</div>

@Html.Partial("_CommentEditor")