@model BinaryStudio.ClientManager.WebUi.Models.WeekViewModel

<div id="week" class="container">
    @foreach (var day in Model.Days)
    {
        <div class="day">
            <ul>
                <title>@day.Name (@day.Date.ToString("dd.MM"))</title>
                @foreach (var inquiry in day.Inquiries)
                {
                    <li class="inquiry">
                        @inquiry.Name
                    </li>
                }
            </ul>
        </div>
    }
</div>