@model BinaryStudio.ClientManager.WebUi.Models.DashboardModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dashboard</h2>
<ul>
@foreach(var inquiry in Model.Inquiries)
{
    <li>@inquiry.Source.Subject </li>
    <li>@Html.DropDownList("Employees", Model.Employees)</li>
}
</ul>

